<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form>
  <form>
    <div class="col  mb-2">
      <div class="card" style="width: 36rem;">
        <div class="card-body">
            <%= form.label :name %>
            <%= form.text_field :name %>
            <%= form.label :email %>
            <%= form.text_field :email %>
          <button type="submit" class="btn btn-primary mb-2">Update <%= client.type %></button>
        </div>
      </div>
    </div>
  </form>
<% end %>
